<head th:fragment="common_head(links)">
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <title>pamphBoard</title>
  <link th:rel="icon" th:href="@{/images/favicon/pamphboard_favicon_001.ico}">
  <link th:href="@{/assets/fontawesome/css/all.css}" th:rel="stylesheet">
  <link th:href="@{/css/common/common.css}" th:rel="stylesheet">
  <link th:href="@{/css/common/nav.css}" th:rel="stylesheet">
  <link th:href="@{/css/common/footer.css}" th:rel="stylesheet">
  <th:block th:replace="${links}"/>
</head>