<header th:fragment="header">
  <nav class="navbar">
    <div class="navbar_logo">
      <a th:href="@{/}">
        <img th:src="@{/images/logos/pamphBoard-logo.png}" width="100"/>
      </a>
    </div>
    <ul class="navbar_menu">
      <li>
        <a th:href="@{/}">Home</a>
      </li>
      <li>
        <a th:href="@{/post/list}">Board</a>
      </li>
    </ul>
    <ul class="navbar_link_icons">
      <li>
        <a th:href="@{https://www.facebook.com/profile.php?id=100069028367348}" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
      <li>
        <a th:href="@{https://twitter.com/YNNNzpOjL9YYgJZ}" target="_blank">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
      <li>
        <a th:href="@{https://rosepamphyle42.tistory.com}" target="_blank">
          <i class="fa-solid fa-t"></i>
        </a>
      </li>
      <li>
        <a th:href="@{https://github.com/dyddlfsla}" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>