<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/fragment/common_head :: common_head(~{::link})}">
  <link th:href="@{/css/board_section.css}" th:rel="stylesheet">
</head>
<body>
<header th:replace="~{layout/fragment/header :: header}"></header>
<section class="section">
  <article th:class="section_board">
    <table>
      <caption>자유 게시판</caption>
      <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>글쓴이</th>
        <th>등록일</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="post, status : ${foundPosts}">
        <td th:text="${status.count}">번호</td>
        <td><a th:text="${post.title}" th:href="@{post/read/${post.postIdx}}">제목</a></td>
        <td th:text="${post.author}">글쓴이</td>
        <td th:text="${#temporals.format(post.regDate, 'yy-MM-dd HH:mm')}">등록일</td>
      </tr>
      </tbody>
    </table>
    <div th:class="board_button">
        <button th:type="button" th:onclick="|location.href='@{/post/save}'|">
          <i class="fa-solid fa-pencil fa-xs"></i>새 글
        </button>
    </div>
  </article>
</section>
<footer th:replace="~{layout/fragment/footer :: footer}"></footer>
</body>
</html>