<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/fragment/common_head :: common_head(~{::link})}">
  <link th:href="@{/css/post/post_modify.css}" th:rel="stylesheet">
</head>
<body>
<header th:replace="~{layout/fragment/header :: header}"></header>
<section class="section">
  <form class="post_form" th:object="${post}">
    <div class="form_top item">
      <div class="author">
        <label th:for="author">글쓴이</label>
        <input type="text" th:field="*{author}">
      </div>
      <div class="password">
        <label th:for="password">비밀번호</label>
        <input type="password" th:field="*{password}" maxlength="10">
      </div>
    </div>
    <div class="notice">
      <p class="notice_title">
        <i class="fa-solid fa-triangle-exclamation"></i> 주의사항
      </p>
      <p class="notice_content">
        * 간단한 비밀번호를 사용하면 타인이 수정 또는 삭제할 수 있습니다.<br>
        * 불건전한 내용 및 초상권이나 저작권을 침해하는 게시물의 경우 법적인 책임을 질 수 있습니다.<br>
        * 글쓴이, 비밀번호는 수정 불가합니다.
      </p>
    </div>
    <div class="title item">
      <input type="text" th:field="*{title}" size="80">
    </div>
    <div class="content item">
      <textarea th:text="${post.content}" rows="30" cols="82"></textarea>
    </div>
    <div class="btn">
      <button type="button" class="btn_modify">
        <i class="fa-solid fa-check fa-xs"></i>수정
      </button>
      <button type="button" class="btn_cancel">
        <i class="fa-solid fa-xmark fa-xs"></i>취소
      </button>
    </div>
  </form>
</section>
<footer th:replace="~{layout/fragment/footer :: footer}"></footer>
<script th:src="@{/js/jquery/jquery-3.6.0.js}"></script>
</body>
</html>