<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/fragment/common_head :: common_head(~{::link})}">
  <link th:href="@{/css/post/post_read.css}" th:rel="stylesheet">
</head>
<body>
<header th:replace="~{layout/fragment/header :: header}"></header>
<section th:class="section">
  <article th:class="section_contents">
    <div th:class="heading">
      <div>
        <h1 th:text="${foundPost.title}">제목</h1>
      </div>
      <div th:class="info">
        <span th:text="${foundPost.author}" th:class="author">아이디</span>
        <span th:text="'| ' + ${#temporals.format(foundPost.regDate, 'yy-MM-dd HH:mm')}" th:class="reg_date">등록일</span>
        <input th:id="postIdx" th:type="hidden" th:value="${foundPost.postIdx}"/>
      </div>
    </div>
    <div th:class="content">
      <p th:text="${foundPost.content}">본문</p>
    </div>
    <div th:class="btn_box">
      <div th:class="left_btn">
        <button th:type="button" th:class="btn_return_list">
          <i class="fa-solid fa-bars fa-xs"></i>목록
        </button>
      </div>
      <div th:class="right_btn">
        <button th:type="submit" th:class="btn_modify">
          <i class="fa-solid fa-pen-to-square fa-xs"></i>수정
        </button>
        <button th:type="button" th:class="btn_delete">
          <i class="fa-solid fa-trash-can fa-xs"></i>삭제
        </button>
      </div>
    </div>
    <div th:class="verify_box">
      <label th:for="password">비밀번호</label>
      <input th:id="password" th:type="password">
      <span th:class="verify_cancel">
        <i class="fa-solid fa-xmark"></i>
      </span>
    </div>
  </article>
</section>
<footer th:replace="~{layout/fragment/footer :: footer}"></footer>
<script th:src="@{/js/jquery/jquery-3.6.0.js}"></script>
<script th:inline="javascript" th:src="@{/js/post_read.js}"></script>
</body>
</html>