<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/fragment/common_head :: common_head(~{::link})}">
  <link th:href="@{/css/post/post_save.css}" th:rel="stylesheet">
</head>
<body>
<header th:replace="~{layout/fragment/header :: header}"></header>
<section class="section">
  <form class="post_form" th:action="@{/post/save/new}" th:object="${PostDto}" th:method="post">
    <div class="form_top item">
      <div class="author">
        <label for="author">글쓴이</label>
        <input type="text" th:field="*{author}" th:placeholder="|이름을 입력하세요.|" th:required>
      </div>
      <div class="password">
        <label for="password">비밀번호</label>
        <input type="password" th:field="*{password}" th:placeholder="|비밀번호를 입력하세요.|" maxlength="10" th:required>
      </div>
    </div>
    <div class="notice">
      <p>1) 간단한 비밀번호를 사용하면 타인이 수정 또는 삭제할 수 있습니다.<br>
        2) 불건전한 내용 및 초상권이나 저작권을 침해하는 게시물의 경우 법적인 책임을 질 수 있습니다.</p>
    </div>
    <div class="title item">
      <input type="text" th:field="*{title}" size="80" th:placeholder="|제목을 입력하세요.|" th:required>
    </div>
    <div class="content item">
      <textarea th:field="*{content}" rows="30" cols="82" th:placeholder="|내용을 입력하세요.|" th:required></textarea>
    </div>
    <div class="btn">
      <button th:type="button" class="btn_save">
        <i class="fa-solid fa-check fa-xs"></i>확인
      </button>
      <button th:type="button" class="btn_cancel">
        <i class="fa-solid fa-xmark fa-xs"></i>취소
      </button>
    </div>
  </form>
</section>
<footer th:replace="~{layout/fragment/footer :: footer}"></footer>
<script th:src="@{/js/jquery/jquery-3.6.0.js}"></script>
<script th:src="@{/js/post_save.js}"></script>
</body>
</html>