<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/fragment/common_head :: common_head(~{::link})}">
  <link th:href="@{/css/post/verify_password.css}" th:rel="stylesheet">
</head>
<body>
<header th:replace="~{layout/fragment/header :: header}"></header>
<section class="section">
  <article th:class="section_verify">
    <h1>비밀번호 확인</h1>
    <input th:type="password">
    <div th:class="verify_button">
      <button th:type="button" th:class="btn_verify">
        <i class="fa-solid fa-pencil fa-xs"></i>확인
      </button>
      <button th:type="button" th:class="btn_cancel">
        <i class="fa-solid fa-pencil fa-xs"></i>취소
      </button>
    </div>
  </article>
</section>
<footer th:replace="~{layout/fragment/footer :: footer}"></footer>
</body>
</html>