.section {
  display: flex;
  justify-content: center;
  height: 800px;
}

.section_board {
  padding-top:60px;
}

table {
  width: 1000px;
  border-collapse: collapse;
}

table caption {
  text-align: left;
  margin-bottom: 20px;
  font-size: 24px;
  color: #000;
  font-weight: bold;
}

thead {
  border-top: 2px solid var(--color-two);
  border-bottom: 1px solid var(--color-two);
  color: #333;
}

td, th {
  border-bottom: 1px solid lightgray;
  text-align: center;
  padding: 5px;
  font-size: 14px;
}

tr:first-child td {
  border-top:none;
}