.section {
  display: flex;
  justify-content: center;
  height: 800px;
}

.section_intro {
  padding-top: 120px;
}

.section_intro span {
  font-size: 72px;
}

.section_intro p {
  font-size: 24px;
}