:root {
  --color-one: #7F1F45;
  --color-two: #6E2D5B;
  --color-three: #573967;
  --color-four: #404169;
  --color-five: #314663;
  --color-six: #2F4858;
  --color-seven: #0c1b33;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/static/assets/googlefonts/fonts/SourceSansPro-Regular.ttf") format("ttf");
}

body {
  margin: 0;
  font-family: "Source Sans Pro";
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-one);
  padding-right: 30px;
  padding-left: 30px;
  border-bottom: 2px solid #000;;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 10px 14px;
  font-size: 24px;
}

.navbar_menu li:hover {
  background-color: var(--color-seven);
  border-radius: 4px;
}

.navbar_link_icons {
  list-style: none;
  color: white;
  display: flex;
}

.navbar_link_icons li {
  padding: 10px 14px;
  font-weight: bold;
}