<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <title>pamphBoard</title>
  <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
  <nav th:class="navbar">
    <div th:class="navbar_logo">
      <a th:href="@{#}">pamphBoard</a>
    </div>
    <ul th:class="navbar_menu">
      <li><a th:href="@{#}">Home</a></li>
      <li><a th:href="@{#}">Board</a></li>
    </ul>
    <ul th:class="navbar_link_icons">
      <li>facebook</li>
      <li>twitter</li>
    </ul>
  </nav>
</body>
</html>