<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/fragment/common_head :: common_head(~{::link})}">
  <link th:href="@{/css/home_section.css}" th:rel="stylesheet">
</head>
<body>
<header th:replace="~{layout/fragment/header :: header}"></header>
<section th:class="section">
  <article th:class="section_intro">
    <span th:class="heading">
      <i class="fa-solid fa-triangle-exclamation"></i>
      Notice
    </span>
    <p>
      Here is Someone's Workspace.<br>
      You could come across something that looks very odd or somehow stupid.<br>
      But as time goes by, it looks better Maybe..
    </p>
  </article>
</section>
<footer th:replace="~{layout/fragment/footer :: footer}"></footer>
</body>
</html>